div#content .hero {
  padding: 3.25rem 1.25rem;
}

.hero>h1 {
  font-size: 3rem;
  margin-bottom: 0.6rem;
}

.hero>p {
  font-size: 1.3rem;
}

div#content img {
  margin: 1.25rem auto;
}

.section h2 {
  font-size: 1.7rem;
}

.section p {
  font-size: 1.2rem;
}