@font-face {
    font-family: 'Lora';
    src: url('../assets/fonts/Lora-Italic.woff2') format('woff2'),
        url('../assets/fonts/Lora-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: url('../assets/fonts/Lora-Regular.woff2') format('woff2'),
        url('../assets/fonts/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Italic.woff2') format('woff2'),
        url('../assets/fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../assets/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --clr-accent-lt: #d2b879;
  --clr-accent-dk: #b89a61;
  --clr-primary-bg: #181b16;
  --clr-header-bg: rgba(17, 19, 16, 0.9);
  --clr-primary-text: #fffdf8;
  --clr-secondary-text: #aaa99f;
  --clr-nav-links: #eeeeee;
  --ff-primary-text: 'Open Sans', sans-serif;
  --ff-secondary-text: 'Lora', serif;
  --medium-font-size: clamp(1rem, 2vw, 1.3rem);
  --large-font-size: clamp(2rem, 4vw, 4rem);
  --xl-font-size: clamp(5rem, 12vw, 10rem);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  color: var(--clr-primary-text);
  font-family: var(--ff-primary-text);
  background-color: var(--clr-primary-bg);
}

p, 
h1, 
h2 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, 
h2,
.logo {
  text-wrap: balance;
  font-family: var(--ff-secondary-text);
}

input,
textarea, 
button {
  font: inherit;
}

button {
  cursor: pointer;
}

header {
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  padding: 16px;
  align-items: center;
  backdrop-filter: blur(12px);
  justify-content: space-around;
  background-color: var(--clr-header-bg);
  border-bottom: 1px solid rgba(210, 184, 121, 0.15);
}

.logo {
  font-size: 2rem;
  font-style: italic;
  letter-spacing: 8px;
  color: var(--clr-primary-text);
}

.nav-btns > button {
  padding: 0;
  border: none;
  letter-spacing: 2px;
  margin-top: 0.25rem;
  padding-bottom: 0.12rem;
  color: var(--clr-nav-links);
  background-color: transparent;
  margin-left: calc(0.5rem + 1vw);
}

.nav-btns > button.active {
  color: var(--clr-accent-lt);
  border-bottom: 1px solid var(--clr-accent-dk);
}

.nav-btns > button:hover {
  color: var(--clr-accent-lt);
}
