:root {
  --clr-primary: #f0c27b;
  --clr-secondary: #3c2a21;
  --clr-neutral-lt: #f4f4f9;
  --clr-neutral-ltr: #ffffff;
  --clr-neutral-dk: #666666;
  --clr-neutral-dkr: #333333;
  --ff-base: Inter, Roboto, 'Helvetica Neue',
    'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--clr-neutral-lt);
  color: var(--clr-neutral-dkr);
  font-family: var(--ff-base);
}

input,
button,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

header {
  background: var(--clr-secondary);
  color: var(--clr-neutral-lt);
  padding: 0.65rem;
}

nav button {
  background-color: var(--clr-secondary);
  border: 2px solid transparent;
  font-size: 1.3rem;
  color: inherit;
}

nav button:hover {
  border-bottom: 2px solid var(--clr-primary);
  color: var(--clr-primary);
}

div#content .hero {
  background: var(--clr-primary);
  color: var(--clr-secondary);
  text-align: center;
  padding: 3.25rem 1.25rem;
}

.hero>h1 {
  font-size: 3rem;
  margin-bottom: .6rem;
}

.hero>p {
  font-size: 1.3rem;
}

div#content img,
div#content .section {
  margin: 1.25rem auto;
}

.img-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

div#content .section {
  background: var(--clr-neutral-ltr);
  max-width: 800px;
  padding: 1.25rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section>h2 {
  font-size: 1.7rem;
}

.section>p {
  font-size: 1.2rem;
}

div#content .header {
  background: var(--clr-primary);
  color: var(--clr-secondary);
  text-align: center;
  padding: 1.25rem;
}

.header h1 {
  font-size: 2.5rem;
}

.header p {
  font-size: 1.3rem;
  font-style: italic;
}

div#content .menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.2rem 1.2rem;
}

.menu-category {
  margin-bottom: 1.8rem;
}

.menu-category h2 {
  border-bottom: 2px solid #c59b6d;
  color: var(--clr-secondary);
  font-size: 1.8rem;
  padding-bottom: 0.3rem;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0;
  border-bottom: 1px solid #dddddd;
  gap: 20px;
}

.menu-item p:first-of-type,
.menu-item p:last-of-type {
  font-weight: 600;
}

.menu-item p:first-of-type {
  color: var(--clr-secondary);
  font-size: 1.4rem;
}

.menu-item p:last-of-type {
  color: var(--clr-secondary);
  font-size: 1.2rem;
}

.menu-item p {
  font-size: 0.9rem;
  color: var(--clr-neutral-dk);
  margin-top: 0.6rem;
}