:root {
  --clr-primary: #f0c27b;
  --clr-secondary: #3c2a21;
  --clr-neutral-lt: #f4f4f9;
  --clr-neutral-ltr: #ffffff;
  --clr-neutral-dk: #666666;
  --clr-neutral-dkr: #333333;
  --ff-base: Inter, Roboto, 'Helvetica Neue',
    'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--clr-neutral-lt);
  color: var(--clr-neutral-dkr);
  font-family: var(--ff-base);
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

ul {
  list-style: none;
}

input,
button,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2 {
  text-wrap: balance;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header,
nav button,
footer {
  background: var(--clr-secondary);
  color: var(--clr-neutral-lt);
}

header,
footer {
  padding: 0.65rem;
}

nav button {
  border: 2px solid transparent;
  font-size: 1.3rem;
}

nav button:hover {
  border-bottom: 2px solid var(--clr-primary);
  color: var(--clr-primary);
}

div#content>div:first-child {
  background: var(--clr-primary);
  color: var(--clr-secondary);
  text-align: center;
}

div#content .section,
div#content .contact-section {
  background: var(--clr-neutral-ltr);
  max-width: 800px;
  padding: 1.25rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1.25rem auto;
}

div#content .header {
  padding: 1.25rem;
}

.header h1 {
  font-size: 2.5rem;
}

.header p {
  font-size: 1.3rem;
  font-style: italic;
}